}

.product {
  display:inline-block;
  color:white;
  font-size:60px;
  font-weight:300;
}

.suffix {
  display:inline-block;
  font-size:60px;
  font-weight:700;
  color:#86CC01;
  font-weight:700;
}

.tagline {
  display:inline-block;
  margin-left:20px;
  font-size:36px;
}

#demo {
  text-align:center;
  position:relative;
  visibility:hidden;
}

#controls {
  margin-top:35px;
  text-align: center;
}

.slider {
  width:420px;
  margin:auto;
}
.sliderValues {
  margin:10px;
}

.sliderValues span {
  font-size:24px;
}

#timeScaleSlider {
  width:260px;

}

button {
  padding:1em;
  margin:20px 0 10px 0;
  font-size:12px;
  cursor:pointer;
}

li {
 display:inline-block;
 margin-right:25px;
  color:#aaa;
}

.ui-widget-content {
  background-color:rgba(255, 255, 255, 0.2);
}

.link {
  display:inline-block;
  padding-top:20px;
  text-decoration:none;
}

a.link:link, a.link:visited {
  color:rgba(255, 100, 0, 0.3);
}

a.link:hover {
  color:rgba(255, 100, 0, 0.95);
}